doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css')
    link(rel="stylesheet" href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
    title Login
  body 
    .section 
      .container
        .columns.is-centered
          .column.is-8
            form(action="" class='box') 
              .field
                label.label.is-size-3 Login
              .field
                label.label Username
                .control.has-icons-left
                  input(class="input" type="text" name="" id="" placeholder="Username")
                  span.icon.is-small.is-left
                    i.fas.fa-user

              .field
                label(for="" class="label") Password
                div(class="control has-icons-left")
                  input(class="input" type="password" name="" id="" placeholder="Password")
                  span(class="icon is-small is-left")
                    i(class="fas fa-key")
              .field
                p.control
                  button(class="button is-success") Login
                  |
                  |
                  button(class="button is-info") Sign Up
